body {
	margin-top: 3em;
	 background-color: #454545;
	 color:white;
	
	
	
}
a{
	
	text-decoration: none;
	
}


.container{
	
	
 
	   
}
.dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 16px;

  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content input {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border: hidden;
  background-color: #eee;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown-content input:hover {
	background-color: #ddd;
	cursor: pointer;
	}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}


.no-outline:focus {
  outline: none;
}

.ic_eye{
	position:absolute;
	top:40px;
	margin-left:90%;
	color:black;
}

.pass-icon{
	position:relative;
}
.child {
 display: flex;
  justify-content: center;
	
  
  margin: 0 auto;
  
 
}
.child-index{
 display: flex;
 justify-content: center;
	
   padding:10px;
   
   
  
  
 
}
.block-menu{
	width:200px;
	height:200px;
	padding:1px;
	margin:1px;
	
	display: flex;
  justify-content: center;
	margin: 0 auto;
	
}
.menu-item{
	width:200px;
	height:auto;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	
	
	

	
}
.link-menu-item{
	text-decoration: none;
	color:black;
	opacity:80%;
	
	
}
.link-menu-item:hover{
	opacity:100%;
	color:black;
	
}

.menu-item-tile{
	color:white;
	
}

  .footer {
   position:fixed;
   left: 0;
   bottom: 0;
   width: 100%;
   background-color: red;
   color: white;
   text-align: center;
}	

.chart {
  width: 100%; 
  min-height: 450px;
}
.row {
  margin:0 !important;
}



         


         


         

