{% extends 'base.html' %}

{% block title %}Income{% endblock %}

{% block footer %}
<script>
/*
$(document).ready(function () {

$.validator.addMethod( "alphanumeric", function( value, element ) {
	return this.optional( element ) || /^\w+$/i.test( value );
}, "Letters, numbers, and underscores only please." );

    $('#IncomeForm').validate({ // initialize the plugin
        rules: {
            income_comment: {
               
                alphanumeric: true,
            }
        },
        submitHandler: function (form) { // for demo
            alert('valid form submitted'); // for demo
            return false; // for demo
        }
    });

});
document.getElementById('myBtnEdit').onclick = function() {

	var comment=document.getElementById('Textarea2').value;
	alert(comment);

}


document.getElementById("submit_button").addEventListener("click", function(event){

var comment=document.getElementById('Textarea2').value;

const regex=/d/;

if(/[>'"$&^]/.test(comment)){
	alert(comment);
  event.preventDefault();
  
  }
  
});

*/
</script>


{% endblock %}


{% block body %}

    
	
	   {% if income.errors is not empty %}
       
        
            {% for error in income.errors %}
               
				<div class="alert alert-warning " role="alert">{{ error }}</div>
            {% endfor %}
        
    {% endif %}
	<h1>Add income</h1>

    {% if current_user %}
	
			<div class="{{ alert_errors }}" role="alert">
  {{ alert_info }}
</div>
       

	<form id="IncomeForm" action="/balance/createIncome" method="post">
		<div class="row  p-2 bg-dark ">
				{% for category in categorys %}
					<div class="col-md-4 ">
						<div class="form-check">
						  
						  <label class="form-check-label" ><input type="radio" class="form-check-input" id="radio1" name="category" value="{{ category.name }}" checked>{{ category.name }}</label>
						</div>
					</div>

				{% endfor %}
		</div>
		<div class="row">
			<div class="col-md-4">
						<div class="form group">
						<div class="p-2">
							<label for="incomeAmount" >Amount</label>
							<input class="form-control" type="number" step="0.01" min='1' id="incomeAmount" name="amount"   value="{{ expense.amount }}" required/>
						</div>
						</div>
						

						<div class="form group">
						<div class="p-2">
						<label for="date" >date of income:</label>
						 <input class="form-control" type="text" value={{ time }} id="date" name="date"></p>
						</div>
						</div>
			</div>
			<div class="col-md-8">
			<div class="p-2">
						<label for="Textarea2" class="form-label">Comment:</label>
						<textarea tclass="form-control"    id="Textarea2" rows="4" cols="50" name="comment" ></textarea>
			</div>			
			</div>
		</div>
		<div class="row">
			<div class="col-md-8">
						<button class="btn btn-secondary" id="submit_button" type='submit'>Add income</button>
			</div>
		</div>
						
      </form>
    {% else %}
        <a href="/signup/new">Sign up</a> or <a href="/login">log in</a>.
    {% endif %}
	

{% endblock %}
