{% extends 'base.html' %}

{% block title %}Home{% endblock %}

{% block body %}


    {% if current_user %}
      <h1>   Hello {{ current_user.name }}</h1>

   
		
			


			
			


  
		
		<div class="child">
				
					<div class="row">
						<div class="col-sm-6 p-1">		
							<a class="link-menu-item" href="Balance/expense" >
							<div class="menu-item-tile">
								<div class="menu-item">
									<h5 >Add expense</h5>
								</div>
								
								<div class="menu-item">
									<i class="icon-money-2"></i>
								</div>
								</div>
							</a>
						</div>
						<div class="col-sm-6 p-1">	
							<a class="link-menu-item" href="Balance/income" >
							<div class="menu-item-tile">
								<div class="menu-item">
									<h5 >Add income</h5>
								</div>
								
								<div class="menu-item">
									<i class="icon-money"></i>
								</div>
							</div>
							</a>
						</div>
					</div>
					

					
			
		</div>
		
			<div class="child">
				
					<div class="row">
						<div class="col-sm-6 p-1">		
							 <a class="link-menu-item" href="/Balance/thisMonth" >
								<div class="menu-item-tile">
									<div class="menu-item">
										<h5 >Balance</h5>
									</div>
									
									<div class="menu-item">
										<i class="icon-wallet"></i>
									</div>
								</div>
							 </a>
							</div>
						
						<div class="col-sm-6 p-1">	
							 <a class="link-menu-item" href="/profile/edit" >
								<div class="menu-item-tile">
										<div class="menu-item">
											<h5 >Settings</h5>
										</div>
										
										<div class="menu-item">
											<i class="icon-wrench"></i>
										</div>
								</div>
							</a>
						</div>
					</div>
					

					
			
			</div>
			
			

       
    {% else %}
	  


				
	  <div class="container mt-5" >
		<div class="col-md-5 mx-auto">
			<h1>Balance Manager</h1>
	
   




				<div class="row mb-4">
					<p>
						Welcome on Your finance manager aplication! This is the place where You can run Yours expenses and incomes. Start save money with us and sign up!
					</p>
					
								<a class="btn btn-secondary " href="/signup/new" >Sign up</a>
								<p >already have an account? Log in.</p>
								<a class="btn btn-secondary"" href="/login">log in</a>
				</div>
		
				<div class="text-center">
						<i class="icon-wallet" ></i>
				</div>
		

   
	
		</div>
</div>
			
				

					

					
			
		
			

		
    {% endif %}


{% endblock %}
