
.icon-money:before { content: '\e800'; } /* '' */
.icon-wrench:before { content: '\e801'; } /* '' */
.icon-plus:before { content: '\e802'; } /* '' */
.icon-minus-circled:before { content: '\e803'; } /* '' */
.icon-minus:before { content: '\e804'; } /* '' */
.icon-trash-empty:before { content: '\e805'; } /* '' */
.icon-plus-circled:before { content: '\e806'; } /* '' */
.icon-mail:before { content: '\e807'; } /* '' */
.icon-search:before { content: '\e808'; } /* '' */
.icon-attention:before { content: '\e809'; } /* '' */
.icon-ok:before { content: '\e80a'; } /* '' */
.icon-info:before { content: '\e80b'; } /* '' */
.icon-info-1:before { content: '\e80c'; } /* '' */
.icon-dollar:before { content: '\e80d'; } /* '' */
.icon-wallet:before { content: '\e80e'; } /* '' */
.icon-money-2:before { content: '\e80f'; } /* '' */
.icon-user:before { content: '\e810'; } /* '' */
.icon-credit-card:before { content: '\e811'; } /* '' */
.icon-credit-card-1:before { content: '\e812'; } /* '' */
.icon-credit-card-2:before { content: '\e813'; } /* '' */
.icon-money-1:before { content: '\f0d6'; } /* '' */
.icon-plus-squared:before { content: '\f0fe'; } /* '' */
.icon-attention-alt:before { content: '\f12a'; } /* '' */
.icon-bank:before { content: '\f19c'; } /* '' */
.icon-balance-scale:before { content: '\f24e'; } /* '' */
