{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>
	<script src="/js/modal_window.js"></script>
	
	




{% endblock %}

{% block body %}



					<div id="edit_radio_alert" class="alert alert-warning   collapse"  >
					 Select category first.
					</div>

<!-- Modal add new category -->
 
<div class="modal fade" id="addCategoryModal" tabindex="-1" aria-labelledby="Addexpense" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:black" id="Addexpense">Add category </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
	  
	  <div id='input_alert'  class="alert alert-danger collapse" role="alert" >
			
			</div>
        										<div class="container-fluid">
											<div class="row">
												<form method="post" id="AddCategoryModal" action="/profile/{{ action_title }}">

													<div class="form-group">
														<label for="inputNameModalAddCategory">Name</label>
														<input id="inputNameModalAddCategory" name="category"  required class="form-control" />
														
														
													</div>
												   
														<div class="text-center p-2">
															<button  id='AddCategoryButton' name='new' type="submit" class="btn btn-success">Save</button>
															<button  name='edit2' id="Cancel-edit-button" type="button" class="btn btn-danger">Cancel</button>
														</div>

											</form>
											</div>
										</div>

					

      </div>

    </div>
  </div>
</div>
 

  <!-- Modal edit-->
<div class="modal fade" id="editCategoryModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:black" id="exampleModalLabel">Edit </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
		
        										<div class="container-fluid">
											<div class="row">
												<form method="post" id="formExpenseCategoryModal" action="/profile/{{ action_title }}">

													<div class="form-group">
													<h6 class="modal-title" style="color:black" >change category name </h6>
														<label for="inputNameModal">Name</label>
														<input id="inputNameModal" name="category"   required class="form-control" />
														<input id="inputNameModalHiden"  type="hidden" name="hiden_input_category"    class="form-control" />
														
														<input type="hidden" id="catId" name="catId" >
														
														<h6 class="modal-title" style="color:black" >set limit for category </h6>
														<label class="form-check-label" style="color:black">
														<input id="limitCheckbox" type="checkbox"  class="form-check-input" >set limit</label>
														<input name="InputLimit"  id="limitInput" type="number" min='1' disabled required/>
														
													</div>
												   
														<div class="text-center p-2">
															<button  name='edit' type="submit"
															onchange="saveNewName()"
															class="btn btn-success">Save</button>
															<button  name='edit2' id="Cancel-edit-button" type="button" class="btn btn-danger" data-bs-dismiss="modal" aria-label="Close">Cancel</button>
														</div>

											</form>
											</div>
										</div>

					

      </div>

    </div>
  </div>
</div>



  <!-- Modal delete-->
<div class="modal fade " id="delete_modal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog " style="color:black">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" style="color:black" id="exampleModalLabel">Delete </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        										<div class="container-fluid ">
											<div class="row">
												<form method="post" id="deleteCATEGORYmODALfORM" action="/profile/{{ action_title }}">

													<div class="form-group">
															<input id="inputNameModalHiden_delete"  type="hidden" name="hiden_input_category_DELETE"    class="form-control" />		
															<div class="text-center">
																<p id="delete_query_text"></p>
															</div>
													</div>
												   
													<div class="text-center">
														<button class="btn btn-success"  name='delete' type="submit" >Yes</button>
														<button class="btn btn-danger" id="closemodal"  name='delete2' type="button" >No</button>
													</div>
													
													
													

											</form>
											</div>
										</div>

					

      </div>

    </div>
  </div>
</div>

    <h1>Edit {{ title }} categorys</h1>

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    
<form method="post" id="formExpenseCategory2" action="/profile/{{ action_title }}">
 
			<div class="row p-2 bg-dark">
				<select  class="form-select" aria-label="Default select example" id="categoryslimit" name="old_category">
				{% for category in categorys %}
					<option value="{{ category.name }}" id='{{ category.id }}'>
						
					
							{{ category.name }}
							
						
						
					</option>
						
				{% endfor %}	
				
				</select>
	
					  <button class="btn btn-primary" type="button" data-bs-toggle="collapse" data-bs-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
						Select category
					  </button>
								 <div class="collapse" id="collapseExample">
									<ul class="list-group">								
									
										{% for category in categorys %}
											<li class="list-group-item" >
													<div class="d-flex">
														<div class="form-check flex-grow-1 ">
														
																	
																		<div>	
																			{{ category.name }}
																		</div>	

																	

				
																																																				<div class="text-secondary">
																				{% if category.category_limit != 0 %}
																					Limit: {{ category.category_limit }}
																				{% endif %}
																		</div>
														</div>
														
														<div>
															<button type="button" class="btn btn-outline-secondary" 
															value="{{ category.name }}" id='{{ category.id }}'
															
															name="SwitchEditCategoryButton"
															
															data-bs-toggle="modal" data-bs-target="#editCategoryModal">
																<i class="icon-pencil"></i>
															</button>
														
															<button type="button" class="btn btn-outline-secondary"
															value="{{ category.name }}"
															data-bs-toggle="modal" data-bs-target="#delete_modal" name="SwitchDeleteCategoryButton"
															data-catID='{{ category.id }}'
															>
																<i class="icon-trash-empty"></i>
															</button>
															

														
														
														</div>
													</div>
												
											</li>
										{% endfor %}	
									</ul>
								</div>
			</div>
			<div class="p-2">
			
				<div class="d-inline p-2">
						<button id='myBtnAdd' class="btn btn-secondary" type="button" name="new" >Add new category</button>
				</div>	



				<div class="d-inline p-2">
					<a class="btn btn-danger" href="/profile/show">Cancel</a>
				</div>
			</div>
			
     </form>  
	   

		
       

    
	


{% endblock %}
