{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>



{% endblock %}

{% block body %}

    <h1>Edit {{ title }} categorys</h1>

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post" id="formExpenseCategory" action="/profile/{{ action_title }}">

 
		
						{% for category in categorys %}
					
						<div class="form-check">
						  
						  <label class="form-check-label" ><input type="radio" class="form-check-input" id="radio1" name="category" value="{{ category.name }}" >{{ category.name }}</label>
						</div>
					

				{% endfor %}
       

        <button type="submit" name="new" class="bnt bnt-default">Add new category</button>
        <button type="submit" name="delete" class="bnt bnt-default">Delete category</button>
        <button type="submit" name="edit" class="bnt bnt-default">Edit</button>
        <a href="/profile/show">Cancel</a>

    </form>

{% endblock %}
