{% extends 'base.html' %}

{% block title %}Profile{% endblock %}

{% block footer %}
    <script src="/js/hideShowPassword.min.js"></script>
    <script src="/js/app.js"></script>
	<script src="/js/modal_window.js"></script>
	




{% endblock %}

{% block body %}


					<div id="edit_radio_alert" class="alert alert-danger  collapse"  >
					<strong>Warning !</strong> You must select one of items.
					</div>
 
 

  <!-- Modal -->
<div class="modal fade" id="editmodal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        										<div class="container-fluid">
											<div class="row">
												<form method="post" id="formExpenseCategoryModal" action="/profile/{{ action_title }}">

													<div class="form-group">
														<label for="inputNameModal">Name</label>
														<input id="inputNameModal" name="category"   required class="form-control" />
														<input id="inputNameModalHiden"  type="hidden" name="hiden_input_category"    class="form-control" />
														
													</div>
												   

													<button  name='edit' type="submit" class="bnt bnt-default">Save</button>
													<a href="/profile/show">Cancel</a>

											</form>
											</div>
										</div>

					

      </div>

    </div>
  </div>
</div>

    <h1>Edit {{ title }} categorys</h1>

    {% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    
<form method="post" id="formExpenseCategory2" action="/profile/{{ action_title }}">
 
		
						{% for category in categorys %}
					
						<div class="form-check">
						  
						  <label class="form-check-label" ><input type="radio" class="form-check-input" id="{{ category.name }}" name="old_category" value="{{ category.name }}" >{{ category.name }}</label>
						</div>
						
						
					

				{% endfor %}
				    <div>
       
    </div>
       

        <button class="btn btn-secondary" type="submit" name="new" class="bnt bnt-default">Add new category</button>
        <button class="btn btn-secondary" type="submit" name="delete" class="bnt bnt-default">Delete category</button>
       
		
		
	
		<button type="button" class="btn btn-secondary" id="myBtn" >Edit</button>
     </form>  
	   

		
        <a href="/profile/show">Cancel</a>

    
	


{% endblock %}
